<script setup lang="ts">
import { RouterLink, useRouter } from "vue-router";
import { ref, watch } from "vue";

import NavItem from "./NavItem.vue";

//Interfaces
export interface NavItem {
  id: number;
  title: string;
  icon: string;
  value: string;
}

//Data
const allNavItems: NavItem[] = [
  {
    id: 1,
    title: "Přehled",
    icon: "mdi-view-dashboard",
    value: "dashboard",
  },
  {
    id: 2,
    title: "Tréninky",
    icon: "mdi-dumbbell",
    value: "treninky",
  },
  {
    id: 3,
    title: "Členové",
    icon: "mdi-account-outline",
    value: "clenove",
  },
  // {
  //   id: 4,
  //   title: "Obsah",
  //   icon: "mdi-text-box-outline",
  //   value: "obsah",
  // },
  {
    id: 5,
    title: "Galerie",
    icon: "mdi-view-gallery-outline",
    value: "galerie",
  },
  {
    id: 6,
    title: "Aktuality",
    icon: "mdi-email-open-outline",
    value: "aktuality",
  },
];

//State and variables

const router = useRouter();
const drawer: any = ref(null);

//Functions
const handleLogout = () => {
  localStorage.clear();
  router.push("/login");
};
</script>

<template>
  <v-template>
    <v-navigation-drawer
      v-model="drawer"
      :permanent="$vuetify.display.mdAndUp"
      color="black"
    >
      <template v-slot:prepend>
        <RouterLink to="/dashboard">
          <v-list-item lines="two" prepend-avatar="/bmgym-logo-yellow.png">
            <span
              id="nav-title"
              class="font-weight-medium text-decoration-none"
            >
              BM Gym Administrace</span
            ></v-list-item
          >
        </RouterLink>
      </template>
      <v-divider></v-divider>
      <v-list>
        <NavItem v-for="item in allNavItems" :key="item.id" :navItem="item" />
      </v-list>
      <v-divider class="mb-3"></v-divider>
      <div class="pa-2">
        <v-btn @click="handleLogout()" id="logout-btn" block>
          Odhlásit se
        </v-btn>
      </div>
    </v-navigation-drawer>
    <v-toolbar color="black" class="d-md-none">
      <template v-slot:prepend>
        <img id="mobile-logo" src="/bmgym-logo-yellow.png" />
      </template>
      <v-toolbar-title id="mobile-title">BM Gym Administrace</v-toolbar-title>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    </v-toolbar>
  </v-template>
</template>

<style scoped>
#nav-title {
  color: var(--bm-body-white);
}

#logout-btn {
  background: var(--bm-primary-500);
  color: var(--bm-body-white);
}

.v-img__img,
.v-img__img--cover {
  --v-avatar-height: 80px !important;
  height: 80px !important;
}

#mobile-logo {
  height: 40px !important;
}

#mobile-title .v-toolbar-title__placeholder {
  font-size: 16px;
  font-weight: 500 !important;
}

.v-navigation-drawer {
  z-index: 999999 !important;
}
</style>
