<script setup lang="ts">
import { onBeforeMount, onMounted, ref, watch } from "vue";

import type { NavItem } from "./Nav.vue";

import { useRouter, useRoute } from "vue-router";

const router = useRouter();
const route = useRoute();

const isActive = ref();
onMounted(async () => {
  await router.isReady();
  if (route.name) {
    isActive.value = route.name;
  } else {
    isActive.value = "dashboard";
  }
});

watch(route, () => {
  isActive.value = route.name;
});

defineProps<{
  navItem: NavItem;
}>();
</script>

<template>
  <RouterLink :to="`/${navItem.value}`">
    <v-list-item
      class="list-item"
      :value="navItem.value"
      :active="isActive === navItem.value ? true : false"
    >
      <template v-slot:prepend>
        <v-icon :icon="navItem.icon"></v-icon>
      </template>
      <v-list-item-title>{{ navItem.title }}</v-list-item-title>
    </v-list-item>
  </RouterLink>
</template>
<style scoped>
.list-item {
  color: var(--bm-body-white);
}
i,
i::before,
.v-list-item__prepend,
.v-icon {
  color: yellow !important;
}
</style>
