/* color palette from <https://github.com/vuejs/theme> */
:root {
  --bm-primary-300: #816f03;
  --bm-primary-400: #b39a05;
  --bm-primary-500: #e7c706;
  --bm-primary-600: #f9db24;
  --bm-primary-700: #fae356;

  --bm-secondary-300: #000000;
  --bm-secondary-400: #070708;
  --bm-secondary-500: #202124;
  --bm-secondary-600: #37393e;
  --bm-secondary-700: #4f5259;

  --bm-body-white: #fafafa;
  --bm-body-black: #151515;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--bm-secondary-500);
  --color-background-soft: var(--bm-secondary-500);

  --color-heading: var(--bm-primary-600);
  --color-text: var(--bm-body-white);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background) !important;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
