<script setup lang="ts">
import { ref, onBeforeMount } from "vue";
import { RouterView, useRouter } from "vue-router";

import Nav from "./components/Nav.vue";

const router = useRouter();

onBeforeMount(() => {
  if (localStorage.getItem("access_token")) {
    const currentDate = Date.now();
    const expires = localStorage.getItem("expires");
    if (expires && currentDate > parseInt(expires)) {
      router.push("/login");
      localStorage.clear();
      return;
    }
    return;
  } else {
    router.push("/login");
    return;
  }
});
</script>
<template>
  <v-app>
    <Nav v-if="router.currentRoute.value.name !== 'login'" />
    <v-main class="bg-grey-darken-4">
      <router-view />
    </v-main>
  </v-app>
</template>

<style>
.action-btn {
  background-color: var(--bm-primary-600) !important;
  color: white !important;
}
#dialog {
  background-color: var(--bm-secondary-600);
  color: white;
}
</style>
