<script></script>
<template>
  <v-card id="dialog" class="text-center">
    <v-card-title> Určite chcete vymazať tento tréning? </v-card-title>
    <v-card-actions class="justify-center">
      <v-btn class="action-btn" @click="$emit('dialog-shown-changed')"
        >Ne</v-btn
      >
      <v-btn class="action-btn" @click="$emit('training-delete-confirmed')"
        >Ano</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<style scoped></style>
