<script setup lang="ts">
import moment from "moment";
import "moment/dist/locale/cs";

import { ref, onBeforeMount, watch } from "vue";

import { filterActiveReservations } from "@/utils/helperFunctions";
import type { Ref } from "vue";
import axios from "axios";
import { backendUrl } from "@/utils/getEnvVariables";

onBeforeMount(() => {
  moment.locale("cs-CS");
});

const props = defineProps(["training"]);
const emit = defineEmits(["res-updated"]);

const currentTraining = ref(props.training);

const trainingInfo = [
  {
    title: "Název tréninku: ",
    value: props.training.TN_NAME,
  },
  {
    title: "Popisek: ",
    value: props.training.TN_REMARK,
  },
  {
    title: "Doba konání: ",
    value: `${moment(props.training.TN_DATE).format("dddd")} ${moment(
      props.training.TN_DATE
    ).format("DD.MM.yyyy")} v ${props.training.TN_HOUR}`,
  },
  {
    title: "Obsazenost: ",
    value: `${filterActiveReservations(props.training)}/${
      props.training.TN_MAXMEM
    }`,
  },
];

const getOneTraining = async (id: number) => {
  try {
    const response = await axios.get(`${backendUrl}/training/${id}`, {
      headers: {
        Authorization: `Bearer ${localStorage.getItem("access_token")}`,
      },
    });
    currentTraining.value = await response.data;
  } catch (e) {
    if (e instanceof Error) {
      console.log(e.message);
    }
  }
};

const handleToggleSub = async (id: number) => {
  try {
    const response = await axios.put(
      `${backendUrl}/reservation/${id}`,
      {},
      {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("access_token")}`,
        },
      }
    );

    await getOneTraining(currentTraining.value.TN_ID);
    emit("res-updated");
  } catch (e) {
    if (e instanceof Error) {
      console.log(e.message);
    }
  }
};

const handleToggleRemove = async (id: number) => {
  try {
    const response = await axios.put(
      `${backendUrl}/reservation/remove/${id}`,
      {},
      {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("access_token")}`,
        },
      }
    );

    await getOneTraining(currentTraining.value.TN_ID);
    emit("res-updated");
  } catch (e) {
    if (e instanceof Error) {
      console.log(e.message);
    }
  }
};
</script>

<template>
  <v-card class="py-6" id="dialog">
    <v-card-title class="text-center"> Detail tréninku </v-card-title>
    <v-card-text>
      <v-table class="table">
        <tbody>
          <tr v-for="item in trainingInfo" :key="item.title">
            <td>{{ item.title }}</td>
            <td>{{ item.value }}</td>
          </tr>
        </tbody>
      </v-table>
      <v-divider></v-divider>
      <h3 class="text-center mt-6 mb-4">Účastníci</h3>
      <v-table class="table">
        <thead>
          <tr>
            <th>Jméno</th>
            <th>Akce</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="reservation in currentTraining.RESERVATION"
            :key="reservation.RES_ID"
          >
            <td
              :class="{
                disabled: reservation.RES_REMOVED,
                sub: reservation.RES_IS_SUB,
              }"
            >
              {{ reservation.RES_FULLNAME }}
            </td>
            <td>
              <v-btn
                :disabled="!reservation.RES_REMOVED ? false : true"
                :class="{
                  'action-btn': !reservation.RES_IS_SUB,
                  'sub-btn': reservation.RES_IS_SUB,
                  'my-3': true,
                  'mr-3': true,
                }"
                icon="mdi-flag-outline"
                @click="handleToggleSub(reservation.RES_ID)"
              ></v-btn>
              <v-btn
                :class="!reservation.RES_REMOVED ? 'action-btn' : 'active-btn'"
                :icon="!reservation.RES_REMOVED ? 'mdi-close' : 'mdi-check'"
                @click="handleToggleRemove(reservation.RES_ID)"
              ></v-btn>
            </td>
            <td></td>
          </tr>
        </tbody>
      </v-table>
    </v-card-text>
  </v-card>
</template>

<style scoped>
.sub {
  color: rgb(40, 149, 252);
}

.sub-btn {
  background-color: rgb(40, 149, 252);
  color: white !important;
}
.disabled {
  text-decoration: line-through;
  opacity: 0.7;
}

.table,
th,
thead {
  background-color: var(--bm-secondary-600);
  color: white !important;
}

thead,
th {
  font-weight: bold !important;
}

td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

th {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2) !important;
}

.active-btn {
  background-color: rgb(7, 185, 16);
  color: white !important;
}
</style>
