<script setup lang="ts">
import type { Ref } from "vue";
import { ref } from "vue";

import moment from "moment";
import axios from "axios";
import { backendUrl } from "@/utils/getEnvVariables";

const props = defineProps(["training"]);
const emit = defineEmits(["dialog-shown-changed"]);

const name: Ref<string> = ref(props.training.TN_NAME);
const date: Ref<Date | null | string> = ref(
  moment(props.training.TN_DATE).format("yyyy-MM-DD")
);
const time: Ref<number | null> = ref(props.training.TN_HOUR);
const maxMembers: Ref<string | null> = ref(props.training.TN_MAXMEM);
const maxSubstitues: Ref<string | null> = ref(props.training.TN_MAXSUB);
const textColor: Ref<string> = ref(props.training.TN_COLOR);
const backgroundColor: Ref<string> = ref(props.training.TN_BGCOLOR);
const description: Ref<string> = ref(props.training.TN_REMARK);

const inputRules = [
  (value: string | boolean) => {
    if (typeof value === "string") {
      if (value?.length > 0) return true;
      return "";
    } else {
      return "Nesprávny formát";
    }
  },
];

const handleEditTraining = async () => {
  try {
    const updatedTraining = {
      id: props.training.TN_ID,
      date: date.value,
      name: name.value,
      hour: time.value,
      maxMembers: maxMembers.value !== null ? parseInt(maxMembers.value) : null,
      maxSubs:
        maxSubstitues.value !== null ? parseInt(maxSubstitues.value) : null,
      description: description.value,
      color: textColor.value,
      bgColor: backgroundColor.value,
    };

    const response = await axios.put(
      `${backendUrl}/training/${updatedTraining.id}`,
      updatedTraining,
      {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("access_token")}`,
        },
      }
    );
  } catch (e) {
    if (e instanceof Error) {
      console.log(e.message);
    }
  } finally {
    emit("dialog-shown-changed");
  }
};
</script>

<template>
  <v-card id="dialog">
    <v-card-title class="text-center pt-5">
      <span class="text-h5">Upravit trénink</span>
    </v-card-title>
    <v-form @submit.prevent="handleEditTraining" validate-on="submit">
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model="name"
                color="yellow"
                label="Název"
                required
                :rules="inputRules"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field
                v-model="date"
                color="yellow"
                type="date"
                label="Počáteční datum"
                :rules="inputRules"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field
                v-model="time"
                color="yellow"
                label="Hodina"
                type="time"
                :rules="inputRules"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="maxMembers"
                color="yellow"
                label="Maximum účastníků"
                type="number"
                :rules="inputRules"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="maxSubstitues"
                color="yellow"
                label="Maximum náhradníků"
                type="number"
                :rules="inputRules"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field
                v-model="textColor"
                color="yellow"
                label="Barva textu"
                :rules="inputRules"
                type="color"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field
                v-model="backgroundColor"
                color="yellow"
                label="Barva pozadí"
                :rules="inputRules"
                type="color"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-textarea
                v-model="description"
                color="yellow"
                label="Popisek"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions class="justify-center pb-6">
        <v-btn
          variant="tonal"
          prepend-icon="mdi-window-close"
          class="action-btn"
          @click="$emit('dialog-shown-changed')"
        >
          Zavřít
        </v-btn>
        <v-btn
          type="submit"
          variant="tonal"
          prepend-icon="mdi-content-save"
          class="action-btn"
        >
          Upravit
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<style scoped></style>
