<script setup lang="ts">
import { onBeforeMount, ref } from "vue";

import type { Ref } from "vue";

import { backendUrl } from "@/utils/getEnvVariables";

import axios from "axios";

//State and variables
const allUsersCount: Ref = ref();
const allTrainingsCount: Ref = ref();
const finishedTrainingsCount: Ref = ref();
const plannedTrainingsCount: Ref = ref();
const cardElements: Ref = ref([]);

const filterTrainings = (trainings: Array<any>) => {
  try {
    const todayDate = new Date();
    const plannedTrainings = trainings.filter((training) => {
      return new Date(training.TN_DATE).getTime() > todayDate.getTime();
    });
    const finishedTrainings = trainings.filter((training) => {
      return new Date(training.TN_DATE).getTime() < todayDate.getTime();
    });
    finishedTrainingsCount.value = finishedTrainings.length;
    plannedTrainingsCount.value = plannedTrainings.length;
  } catch (e) {
    if (e instanceof Error) {
      throw new Error(e.message);
    }
  }
};

//Fetch all data
const getData = async (token: string) => {
  const userResponse = await axios.get(`${backendUrl}/user`, {
    headers: {
      Authorization: `Bearer ${token}`,
    },
  });
  const trainingResponse = await axios.get(
    `${backendUrl}/training?showAll=true`,
    {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    }
  );
  allUsersCount.value = await userResponse.data.length;
  allTrainingsCount.value = await trainingResponse.data.length;
  await filterTrainings(trainingResponse.data);
  cardElements.value = [
    {
      id: 1,
      heading: "Počet registrovaných uživatelů",
      icon: "mdi-account-check",
      data: allUsersCount.value,
    },
    {
      id: 2,
      heading: "Všechny vytvorené tréningy",
      icon: "mdi-dumbbell",
      data: allTrainingsCount.value,
    },
    {
      id: 3,
      heading: "Odcvičené tréningy",
      icon: "mdi-calendar-check-outline",
      data: finishedTrainingsCount.value,
    },
    {
      id: 4,
      heading: "Naplánované tréningy",
      icon: "mdi-calendar-clock-outline",
      data: plannedTrainingsCount.value,
    },
  ];
};
onBeforeMount(async () => {
  const token = localStorage.getItem("access_token");
  if (token) {
    await getData(token);
  } else {
    throw new Error("Nepodarilo sa vratit clenov.");
  }
});
</script>

<template>
  <main id="dashboard-main" class="px-md-12 my-md-12 px-6 py-6">
    <div class="heading">
      <h1>Přehled</h1>
    </div>
    <section id="dashboard-container">
      <v-row>
        <v-col
          class="h-100"
          cols="12"
          md="6"
          v-for="cardElement in cardElements"
          :key="cardElement.id"
        >
          <v-card height="200">
            <v-card-title class="py-5 card-title">
              <v-icon
                class="mr-5 heading-icon"
                :icon="cardElement.icon"
              ></v-icon
              >{{ cardElement.heading }}</v-card-title
            >
            <v-card-text
              class="card-text d-flex text-center justify-center py-12"
              >{{ cardElement.data }}</v-card-text
            >
          </v-card>
        </v-col>
      </v-row>
    </section>
  </main>
</template>

<style scoped>
#dashboard-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#dashboard-container {
  width: 100%;
  margin: 50px auto;
}

.card-title {
  background-color: black;
}

.card-text {
  font-size: 32px;
  font-weight: bold;
}

.heading-icon {
  color: var(--bm-primary-600);
}

.table-component,
th,
thead,
.v-card {
  background-color: var(--bm-secondary-600) !important;
  color: var(--bm-body-white) !important;
}

thead,
th {
  font-weight: bold !important;
}

td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

th {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2) !important;
}
</style>
