<script setup lang="ts">
import { PhotoProvider, PhotoConsumer } from "vue3-photo-preview";
import { onBeforeMount, onMounted, ref } from "vue";
import type { Ref } from "vue";
import axios from "axios";
import { backendUrl } from "@/utils/getEnvVariables";

import FormData from "form-data";

const images: Ref<string[]> = ref([]);
const token = ref();
const imageToUpload: any = ref(null);

const fetchAllImages = async (token: string) => {
  try {
    const { data } = await axios.get(`${backendUrl}/gallery`, {
      headers: {
        Authorization: `Bearer ${token.toString()}`,
      },
    });
    images.value = await data.reverse();
  } catch (err) {
    if (err instanceof Error) {
      return {
        message: `${err.message}`,
      };
    }
  }
};

onBeforeMount(async () => {
  token.value = localStorage.getItem("access_token");
  if (!token.value) {
    throw new Error("Token can't be found.");
  } else {
    await fetchAllImages(token.value);
  }
});

//Creating form data and making a POST request to upload image
const uploadImage = async (token: string) => {
  if (!imageToUpload || imageToUpload.value.length <= 0) {
    return;
  }
  const formData = new FormData();
  const file = imageToUpload.value[0];
  formData.append("imageToUpload", file);
  try {
    const response = await axios.post(`${backendUrl}/gallery`, formData, {
      headers: {
        Authorization: `Bearer ${token.toString()}`,
        "Content-Type": "multipart/form-data",
      },
    });
  } catch (err) {
    if (err instanceof Error) {
      console.log("error", err.message);
      return {
        message: `${err.message}`,
      };
    }
  }
};

const uploadFunction = async () => {
  console.log(imageToUpload.value);
  if (imageToUpload.value.length <= 0) {
    throw new Error("Nebol vybraný žiadny súbor");
  }
  try {
    await uploadImage(token.value);
    await fetchAllImages(token.value);
    imageToUpload.value = null;
  } catch (e) {
    if (e instanceof Error) {
      return {
        message: `${e.message}`,
      };
    }
  }
};

const handleDelete = async (fileName: string, event: Event) => {
  if (event && event.stopPropagation) event.stopPropagation();
  if (!fileName) {
    throw new Error("No file selected");
  }
  try {
    const response = await axios.delete(`${backendUrl}/gallery/${fileName}`, {
      headers: {
        Authorization: `Bearer ${token.value}`,
      },
    });
    await fetchAllImages(token.value);
    return {
      response,
      message: `Image ${fileName} succesfully deleted.`,
    };
  } catch (err) {
    if (err instanceof Error) {
      return {
        message: err.message,
      };
    }
  }
};
</script>

<template>
  <main id="gallery-main" class="py-12 px-12">
    <div class="heading">
      <h1 class="pb-10">Galerie</h1>
    </div>
    <div class="upload-input-div d-flex align-center justify-center pb-10">
      <v-file-input
        color="yellow"
        label="Nahrát obrázek"
        variant="underlined"
        class="upload-input"
        v-model="imageToUpload"
        required="true"
      ></v-file-input>

      <v-btn
        :disabled="imageToUpload ? false : true"
        prepend-icon="mdi-upload"
        id="upload-btn"
        variant="tonal"
        @click="uploadFunction()"
      >
        Nahrát
      </v-btn>
    </div>
    <div id="gallery-container">
      <PhotoProvider>
        <v-row>
          <v-col
            :key="img"
            v-for="img in images"
            cols="12"
            md="4"
            lg="3"
            sm="6"
          >
            <PhotoConsumer :src="`${backendUrl}/${img}`">
              <v-card
                variant="tonal"
                class="gallery-image-card rounded-lg img-card"
              >
                <v-btn
                  size="small"
                  @click="(e) => handleDelete(img, e)"
                  class="pointer deleteBtn"
                  position="absolute"
                  icon="mdi-delete"
                >
                </v-btn>
                <img :src="`${backendUrl}/${img}`" class="gallery-image" />
              </v-card>
            </PhotoConsumer>
          </v-col>
        </v-row>
      </PhotoProvider>
    </div>
  </main>
</template>

<style scoped>
.deleteBtn {
  top: 10px;
  right: 10px;
  background-color: var(--bm-primary-500);
  color: white;
}
.img-card {
  position: relative;
}
.gallery-image-card {
  width: 100%;
  max-height: 400px;

  cursor: pointer;
}
.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 400px;
  z-index: -1;
}
.upload-input {
  width: 50%;
  max-width: 500px;
  margin-right: 50px;
}

#upload-btn {
  background-color: var(--bm-primary-500);
}
</style>
