<script setup lang="ts">
import { backendUrl } from "@/utils/getEnvVariables";

import { ref, onBeforeMount } from "vue";
import axios from "axios";

import { useRouter } from "vue-router";

const username = ref("");
const password = ref("");
let errorMessage = ref("");
const router = useRouter();

const form = ref<HTMLElement | null>(null);

const usernameRules = [
  (value: string | boolean) => {
    if (typeof value === "string") {
      if (value?.length > 0) return true;
      return "Prosím zadejte svůj login.";
    } else {
      return "Nesprávny formát";
    }
  },
];

const passwordRules = [
  (value: string | boolean) => {
    if (typeof value === "string") {
      if (value?.length > 0) return true;
      return "Prosím zadejte svoje heslo.";
    } else {
      return "Nesprávny formát";
    }
  },
];

onBeforeMount(() => {
  if (localStorage.getItem("access_token")) {
    router.push("/dashboard");
  }
});

const handleLogin = async () => {
  const createdTime = Date.now();
  axios
    .post(`${backendUrl}/auth`, {
      username: username.value,
      password: password.value,
    })
    .then((response) => {
      localStorage.setItem("access_token", response.data.access_token);
      localStorage.setItem("expires", JSON.stringify(createdTime + 86400000));
      router.push("/dashboard");
    })
    .catch((err) => {
      console.log(err.response);
      errorMessage.value = err.response.data.message;
      setTimeout(() => {
        errorMessage.value = "";
      }, 5000);
    });
};
</script>

<template>
  <v-container fluid id="login-container">
    <v-row align="center" justify="center" class="fill-height">
      <v-col cols="12" s="10" md="8" lg="6" xl="4">
        <v-card
          id="login-card"
          class="d-flex flex-column justify-center rounded-xl px-8 px-md-16 pb-16"
          height="500"
          rounded
        >
          <div class="title-section">
            <img id="logo" src="/bmgym-logo-yellow.png" alt="Logo" />
            <v-card-title class="mb-auto text-center">Přihlásení</v-card-title>
          </div>
          <v-sheet width="100%" class="mx-auto">
            <v-form
              validate-on="submit"
              ref="form"
              @submit.prevent="handleLogin"
              id="login-form"
              class="px-md-16 text-center"
            >
              <v-text-field
                v-model="username"
                color="yellow"
                variant="underlined"
                label="Login"
                :rules="usernameRules"
              ></v-text-field>
              <v-text-field
                color="yellow"
                variant="underlined"
                label="Heslo"
                v-model="password"
                type="password"
                :rules="passwordRules"
              ></v-text-field>
              <v-alert
                v-if="errorMessage"
                type="error"
                variant="tonal"
                class="text-left"
                color="white"
                >{{ errorMessage }}</v-alert
              >
              <v-btn
                id="login-btn"
                prepend-icon="mdi-login-variant"
                variant="tonal"
                type="submit"
                class="mt-5 mx-auto"
                width="50%"
                min-width="220px"
                density="default"
                height="45px"
                >Submit</v-btn
              >
            </v-form>
          </v-sheet>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
#login-container {
  height: 100vh;
}
.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo {
  width: 150px;
}
#login-card,
#login-form {
  background-color: var(--bm-secondary-600);
  color: var(--bm-body-white);
}
#login-btn {
  background-color: var(--bm-primary-500);
}
</style>
