<script setup lang="ts">
import { onBeforeMount, ref } from "vue";

import type { Ref } from "vue";

import { backendUrl } from "@/utils/getEnvVariables";

import axios from "axios";

//Interfaces

interface User {
  USR_EMAIL: string;
  USR_PIN: number;
}

//State and variables
let users: Ref<User[]> = ref([]);
let filteredUsers: Ref<User[]> = ref([]);
let searchValue: Ref<string> = ref("");

//Fetch all users
const getUsers = async (token: string) => {
  const response = await axios.get(`${backendUrl}/user`, {
    headers: {
      Authorization: `Bearer ${token}`,
    },
  });
  users.value = await response.data;
  filteredUsers.value = users.value;
};

const filterUsers = () => {
  const result = users.value.filter((user) =>
    user.USR_EMAIL.includes(searchValue.value)
  );
  filteredUsers.value = result;
};

onBeforeMount(async () => {
  const token = localStorage.getItem("access_token");
  if (token) {
    await getUsers(token);
  } else {
    throw new Error("Nepodarilo sa vratit clenov.");
  }
});
</script>

<template>
  <main id="trainings-main" class="px-md-12 my-md-12 px-6 py-6">
    <div class="heading">
      <h1>Členové</h1>
    </div>
    <div class="filter-input w-50 mx-auto">
      <v-text-field
        id="search-input"
        prepend-icon="mdi-magnify"
        label="Hledat"
        variant="underlined"
        class="my-5"
        color="yellow"
        v-model="searchValue"
        @keyup="filterUsers"
      ></v-text-field>
    </div>
    <section id="trainings-container">
      <v-card class="rounded-lg">
        <v-table class="table-component" fixed-header height="700px">
          <thead>
            <tr>
              <th class="text-left">E-mail</th>
              <th class="text-left">PIN</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in filteredUsers" :key="user.USR_EMAIL">
              <td>{{ user.USR_EMAIL }}</td>
              <td>{{ user.USR_PIN }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-card>
    </section>
  </main>
</template>

<style scoped>
#trainings-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#trainings-container {
  width: 100%;
  /* margin: auto; */
}

.table-component,
th,
thead,
.v-card {
  background-color: var(--bm-secondary-600) !important;
  color: var(--bm-body-white) !important;
}

thead,
th {
  font-weight: bold !important;
}

td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

th {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2) !important;
}

@media screen and (max-width: 959px) {
  .filter-input {
    width: 100% !important;
    min-width: 100% !important;
    max-width: initial !important;
  }
}
</style>
