<script setup lang="ts">
import { onMounted, ref } from "vue";
import axios from "axios";

import type { Ref } from "vue";

import { backendUrl } from "@/utils/getEnvVariables";

interface News {
  ACT_ID: number;
  ACT_HEADING: string;
  ACT_TEXT: string;
}

const token: Ref<string> = ref("");
const news: Ref<News[]> = ref([]);
const headingInputValue: Ref<string> = ref("");
const textInputValue: Ref<string> = ref("");
const dialogShown: Ref<boolean> = ref(false);
const selectedHeadingInput: Ref<string> = ref("");
const selectedTextInput: Ref<string> = ref("");
const selectedNewId: Ref<number> = ref(100000);

const inputRules = [
  (value: string | boolean) => {
    if (typeof value === "string") {
      if (value?.length > 0) return true;
      return "";
    } else {
      return "Nesprávny formát";
    }
  },
];

onMounted(async () => {
  const storageToken = localStorage.getItem("access_token");
  if (!storageToken) {
    throw new Error("Not authorized");
  }
  token.value = storageToken;
  await getAllNews(token.value);
});

const fillInputs = (heading: string, text: string, id: number) => {
  selectedHeadingInput.value = heading;
  selectedTextInput.value = text;
  selectedNewId.value = id;
};

const getAllNews = async (token: string) => {
  try {
    const response = await axios.get(`${backendUrl}/news`, {
      headers: {
        Authorization: `Bearer ${token.toString()}`,
      },
    });
    news.value = response.data;
  } catch (e) {
    if (e instanceof Error) {
      return e.message;
    }
  }
};

const handleUpdateNews = async () => {
  try {
    const response = await axios.put(
      `${backendUrl}/news/${selectedNewId.value}`,
      {
        text: selectedTextInput.value,
        heading: selectedHeadingInput.value,
      },
      {
        headers: {
          Authorization: `Bearer ${token.value.toString()}`,
          "Content-Type": "application/json",
        },
      }
    );
    dialogShown.value = false;
    await getAllNews(token.value.toString());
    selectedHeadingInput.value = "";
    selectedTextInput.value = "";
    selectedNewId.value = -2000000;
  } catch (e) {
    if (e instanceof Error) {
      throw new Error(e.message);
    }
  }
};

const handleAddNews = async (token: string) => {
  try {
    const response = await axios.post(
      `${backendUrl}/news`,
      {
        text: textInputValue.value,
        heading: headingInputValue.value,
      },
      {
        headers: {
          Authorization: `Bearer ${token.toString()}`,
          "Content-type": "application/json",
        },
      }
    );
    await getAllNews(token);
    textInputValue.value = "";
    headingInputValue.value = "";
  } catch (e) {
    throw new Error("Nepodarilo sa pridať aktualitu.");
  }
};

const handleDeleteNews = async (id: number) => {
  try {
    const response = await axios.delete(`${backendUrl}/news/${id}`, {
      headers: {
        Authorization: `Bearer ${token.value.toString()}`,
      },
    });
    await getAllNews(token.value);
  } catch (e) {
    if (e instanceof Error) {
      throw new Error(e.message);
    }
  }
};
</script>

<template>
  <v-dialog v-model="dialogShown" width="1024">
    <template v-slot:activator="{ props }">
      <main class="py-12 px-12">
        <div class="heading">
          <h1 class="pb-10">Aktuality</h1>
        </div>
        <v-form
          @submit.prevent="handleAddNews(token)"
          validate-on="submit"
          id="input-section"
          class="w-100 w-md-75 w-lg-50"
        >
          <h2 class="mb-5">Přidat novou aktualitu</h2>
          <v-text-field
            v-model="headingInputValue"
            color="yellow"
            label="Nadpis"
            variant="outlined"
            :rules="inputRules"
          ></v-text-field>
          <v-textarea
            v-model="textInputValue"
            color="yellow"
            label="Text"
            variant="outlined"
            :rules="inputRules"
          ></v-textarea>
          <v-btn id="add-btn" prepend-icon="mdi-plus" type="submit">
            Přidat
          </v-btn>
        </v-form>
        <v-divider class="my-8"></v-divider>
        <div id="news-container">
          <v-table id="table">
            <thead id="table-head">
              <tr>
                <th class="text-left">Nadpis</th>
                <th class="text-left">Text</th>
                <th class="text-left">Akce</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="neww in news" :key="neww.ACT_ID" class="py-2">
                <td>{{ neww.ACT_HEADING }}</td>
                <td>{{ neww.ACT_TEXT }}</td>
                <td>
                  <v-btn
                    v-bind="props"
                    class="action-btn my-5 mr-3"
                    icon="mdi-pencil"
                    @click="
                      fillInputs(neww.ACT_HEADING, neww.ACT_TEXT, neww.ACT_ID)
                    "
                  ></v-btn>
                  <v-btn
                    @click="handleDeleteNews(neww.ACT_ID)"
                    class="action-btn"
                    icon="mdi-delete"
                  ></v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </div>
      </main>
    </template>
    <v-card id="dialog" class="px-5 py-3">
      <v-container>
        <v-card-title>
          <h3>Upravit aktualitu</h3>
        </v-card-title>
      </v-container>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                color="yellow"
                variant="outlined"
                label="Nadpis*"
                required
                v-model="selectedHeadingInput"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-textarea
                color="yellow"
                variant="outlined"
                label="Text*"
                required
                v-model="selectedTextInput"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn
          variant="tonal"
          prepend-icon="mdi-window-close"
          class="action-btn"
          @click="dialogShown = false"
        >
          Zrušit
        </v-btn>
        <v-btn
          variant="tonal"
          prepend-icon="mdi-content-save"
          class="action-btn"
          @click="handleUpdateNews()"
        >
          Upravit
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
#dialog {
  background-color: var(--bm-secondary-600);
  color: white;
}

#input-section {
  /* width: 50%; */
  margin: auto;
}

#table,
th,
thead {
  background-color: var(--bm-secondary-600);
  color: white !important;
}

thead,
th {
  font-weight: bold !important;
}

td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

th {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2) !important;
}

#add-btn {
  background-color: var(--bm-primary-600);
  color: white;
}

.action-btn {
  background-color: var(--bm-primary-600) !important;
  color: white;
}
</style>
