<script setup lang="ts">
import { onBeforeMount, ref } from "vue";

import type { Ref } from "vue";

import { backendUrl } from "@/utils/getEnvVariables";
import { filterActiveReservations } from "@/utils/helperFunctions";

import axios from "axios";
import moment from "moment";

// Components

import UpdateDialog from "../components/dialogs/UpdateDialog.vue";
import ConfirmDeleteDialog from "../components/dialogs/ConfirmDeleteDialog.vue";
import AddTrainingDialog from "../components/dialogs/AddTrainingDialog.vue";
import TrainingDetailDialog from "../components/dialogs/TrainingDetailDialog.vue";

//Interfaces
interface User {
  USR_EMAIL: string;
  USR_PIN: number;
}

interface Reservation {
  RES_ID: number;
  RES_TN_ID: number;
  RES_USR_EMAIL: string;
  RES_PUBLIC_ID: string;
  RES_FULLNAME: string;
  RES_REMOVED: number;
  RES_IS_SUB: number;
  TRAININGS: Training;
  USERS: User;
}

export interface Training {
  TN_ID: number;
  TN_NAME: string;
  TN_COLOR: string;
  TN_BGCOLOR: string;
  TN_DATE: Date;
  TN_HOUR: string;
  TN_REMARK: string;
  TN_MAXMEM: number;
  TN_MAXSUB: number;
  RESERVATION: Array<Reservation>;
  _count: {
    RESERVATION: number;
  };
}

//State and variables
const trainings: Ref<Training[]> = ref([]);
const isLoading: Ref<boolean> = ref(true);
const currentPage: Ref<number> = ref(1);
const helperToken: Ref<string> = ref(localStorage.getItem("access_token"));

const currentDialog: Ref<string> = ref("");
const dialogShown: Ref<boolean> = ref(false);
const chosenTraining: Ref<Training | null> = ref(null);

const filteredTrainings: Ref<Training[]> = ref([]);
const filterNameInput: Ref<string> = ref("");
const filterHourInput: Ref<number> | Ref<string> = ref(0);
const filterDateFromInput: Ref<Date | null> = ref(null);
const filterDateToInput: Ref<Date | null> = ref(null);

const getQueryPath = () => {
  const query = {
    name: filterNameInput.value !== "" ? `name=${filterNameInput.value}` : "",
    hour:
      filterHourInput.value !== 0 || filterHourInput.value.toString() !== ""
        ? `hour=${filterHourInput.value}`
        : "",
    dateFrom:
      filterDateFromInput.value !== null
        ? `dateFrom=${filterDateFromInput.value}`
        : "",
    dateTo:
      filterDateToInput.value !== null
        ? `dateTo=${filterDateToInput.value}`
        : "",
  };

  const url: string[] = [];

  if (query.name) {
    url.push(`${query.name}`);
  }
  if (query.hour) {
    url.push(`${query.hour}`);
  }
  if (query.dateFrom) {
    url.push(`${query.dateFrom}`);
  }
  if (query.dateTo) {
    url.push(`${query.dateTo}`);
  }

  const queryPath = url.join("&");
  return queryPath;
};

const handleFilterTrainings = async () => {
  const queryPath = getQueryPath();
  const response = await axios.get(
    `${backendUrl}/training?page=${currentPage}&${queryPath}`,
    {
      headers: {
        Authorization: `Bearer ${localStorage.getItem("access_token")}`,
        "Content-Type": "application/json",
      },
    }
  );
  trainings.value = await response.data;
};

const handleDeleteTraining = async (trainingId: number) => {
  try {
    const token = localStorage.getItem("access_token") ?? "";
    const response = await axios.delete(
      `${backendUrl}/training/${trainingId}`,
      {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      }
    );
    dialogShown.value = false;
    await fetchAllTrainings(token);
  } catch (e) {
    if (e instanceof Error) {
      console.log(e.message);
    }
  }
};

const fetchAllTrainings = async (token: string) => {
  const queryPath = getQueryPath();
  const response = await axios.get(
    `${backendUrl}/training?${currentPage.value}&${queryPath}`,
    {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    }
  );
  trainings.value = await response.data;
};

const loadMoreTrainings = async () => {
  const queryPath = getQueryPath();
  const response = await axios.get(
    `${backendUrl}/training?page=${currentPage.value}&${queryPath}`,
    {
      headers: {
        Authorization: `Bearer ${localStorage.getItem("access_token")}`,
      },
    }
  );
  trainings.value = await [...trainings.value, ...response.data];

  currentPage.value++;
};

const handleDialog = (currentDialogType: string, training?: Training): void => {
  currentDialog.value = currentDialogType;
  if (training) {
    chosenTraining.value = training;
  }
};

const updateDialogShown = () => {
  dialogShown.value = false;
};

onBeforeMount(async () => {
  const token = localStorage.getItem("access_token");
  if (token) {
    await fetchAllTrainings(token);
    filteredTrainings.value = trainings.value;
    isLoading.value = false;
  } else {
    throw new Error("Nepodarilo sa vratit clenov.");
  }
});
</script>

<template>
  <!-- TODO: MAKE A RESET FILTERS BUTTON -->
  <v-dialog v-model="dialogShown" width="1024">
    <template v-slot:activator="{ props }">
      <main id="trainings-main" class="py-12 px-12">
        <div class="heading">
          <h1>Tréninky</h1>
        </div>
        <div class="filter-div my-6">
          <v-form class="text-center" @submit.prevent="handleFilterTrainings">
            <v-row>
              <v-col cols="3">
                <v-text-field
                  color="yellow"
                  label="Název"
                  variant="outlined"
                  v-model="filterNameInput"
                ></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  color="yellow"
                  label="Hodina"
                  variant="outlined"
                  type="number"
                  v-model="filterHourInput"
                ></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  color="yellow"
                  label="Datum od"
                  variant="outlined"
                  type="date"
                  v-model="filterDateFromInput"
                ></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  color="yellow"
                  label="Datum do"
                  variant="outlined"
                  type="date"
                  v-model="filterDateToInput"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-btn
              type="submit"
              prepend-icon="mdi-filter"
              class="action-btn mt-3"
            >
              Filtrovat
            </v-btn>
          </v-form>
        </div>

        <v-divider></v-divider>
        <div id="trainings-container" class="py-6">
          <div
            class="btn-group d-flex flex-column w-25 mx-auto justify-space-between"
          >
            <v-btn
              v-bind="props"
              @click="handleDialog('addNew')"
              prepend-icon="mdi-plus"
              class="action-btn mb-8"
            >
              Přidat tréning
            </v-btn>
          </div>
          <v-progress-circular
            id="spinner"
            :size="140"
            :width="7"
            color="yellow"
            indeterminate
            v-if="isLoading"
          ></v-progress-circular>
          <v-table v-if="!isLoading" id="table" loading="true">
            <thead id="table-head">
              <tr>
                <th class="text-left">Název tréninku</th>
                <th class="text-left">Doba konání</th>
                <th class="text-left">Obsazenost</th>
                <th class="text-left">Akce</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="training in trainings"
                :key="training.TN_ID"
                class="py-2"
              >
                <td>{{ training.TN_NAME }}</td>
                <td>
                  {{
                    `${moment(training.TN_DATE).format("DD.MM.YYYY")} v ${
                      training.TN_HOUR
                    }`
                  }}
                </td>
                <td>
                  {{
                    `${filterActiveReservations(training)}/${
                      training.TN_MAXMEM
                    }`
                  }}
                </td>
                <td>
                  <v-btn
                    v-bind="props"
                    class="action-btn my-5 mr-3"
                    icon="mdi-pencil"
                    @click="handleDialog('update', training)"
                  ></v-btn>
                  <v-btn
                    v-bind="props"
                    @click="handleDialog('delete', training)"
                    class="action-btn mr-3"
                    icon="mdi-delete"
                  ></v-btn>
                  <v-btn
                    v-bind="props"
                    @click="handleDialog('detail', training)"
                    class="action-btn"
                    icon="mdi-file-outline"
                  ></v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
          <div id="load-more-div" class="d-flex w-100">
            <v-btn
              v-if="trainings.length >= 50"
              @click="loadMoreTrainings"
              class="mx-auto my-5 action-btn"
              >Načíst víc</v-btn
            >
          </div>
        </div>
      </main>
    </template>
    <update-dialog
      v-if="currentDialog == 'update'"
      :dialogShown="dialogShown"
      @dialog-shown-changed="updateDialogShown"
      :training="chosenTraining"
    ></update-dialog>
    <confirm-delete-dialog
      v-if="currentDialog == 'delete'"
      :dialogShown="dialogShown"
      @dialog-shown-changed="updateDialogShown"
      @training-delete-confirmed="handleDeleteTraining(chosenTraining?.TN_ID)"
      :training="chosenTraining"
    >
    </confirm-delete-dialog>
    <add-training-dialog
      v-if="currentDialog == 'addNew'"
      @dialog-shown-changed="updateDialogShown"
    >
    </add-training-dialog>
    <training-detail-dialog
      v-if="currentDialog == 'detail'"
      :training="chosenTraining"
      @res-updated="fetchAllTrainings(helperToken)"
    >
    </training-detail-dialog>
  </v-dialog>
</template>

<style scoped>
#spinner {
  position: fixed;
  left: 50%;
  top: 40%;
}

#trainings-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#trainings-container {
  width: 100%;
  margin: auto;
}

#table,
th,
thead {
  background-color: var(--bm-secondary-600);
  color: white !important;
}

thead,
th {
  font-weight: bold !important;
}

td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

th {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2) !important;
}
</style>
